<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/chatbot/chatbot_Layout}" ><!-- 기본레이아웃  -->

<!-- head layout 설정된  fragment-->
<th:block layout:fragment="title">
    <title>admin </title>
</th:block>

<th:block layout:fragment="css">
    <link rel="stylesheet" th:href="@{/css/chat/chat-bot.css}">
</th:block>

<th:block layout:fragment="script">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js" defer></script>
    <script th:src="@{/js/chat/chat.js}" defer> </script>
    <script th:src="@{/js/chat/faq.js}" defer> </script>
</th:block>

</html>