<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Chat Bot</title>
	<link rel="stylesheet" th:href="@{/css/chat/chat-bot.css}">
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.1/jquery.min.js"></script>
	<script th:src="@{/js/mv_chat/mv_chat.js}" defer></script>
</head>
<body>
<div class="bot-con">
	<div id="chat-bot">

		<div class="wrap">
			<button type="button" id="btn-chat-open" onclick="openChat()"><img th:src="@{/images/icon/moviecon.png}" alt="Movie Bot"></button>
			<div id="chat-disp" style="display: none;">
				<h3 id="chat-header">
					<span>MOVIE BOT</span>
					<span class="btn-wrap">
							<button type="button" id="btn-chat-close" onclick="disconnect()">X</button>
						</span>
				</h3>

				<div id="chat-content"></div>

				<div id="chat-question" class="flex between">
					<span class="flex column center"><i></i></span>
					<input type="text" id="question" placeholder="질문을 입력하세요">
					<button type="button" id="btn-msg-send" onclick="btnMsgSendClicked()">전송</button>
				</div>
			</div>
		</div>
	</div>



</div>
</body>
</html>
