<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="right" th:fragment="memberInfoRightFragment">
  <div class="right-con">
    <div class="right-top">
      <div class="gnb">
        <ul>
          <th:block sec:authorize="isAnonymous()">
            <li><a th:href="@{/login}">로그인</a></li>
            <li><a th:href="@{/member/join}">회원가입</a></li>
          </th:block>
          <th:block sec:authorize="isAuthenticated()">
            <div class="myInfo"
                 th:onClick="|location.href='@{/member/myDetail/{id}(id=${#authentication.principal.memberEntity.id})}'|">
              <li>
                <p th:text="${#authentication.principal.memberEntity.department}"></p>부
              </li>
              <li>
                <p th:text="${#authentication.principal.memberEntity.mRank}"></p>
              </li>
              <li>
                <p th:text="${#authentication.principal.memberEntity.name}"></p>님
              </li>
            </div>
            <li><a th:href="@{/logout}">로그아웃</a></li>
          </th:block>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <div class="index-data">
              <form th:action="@{/member/memberMD}" method="post" enctype="multipart/form-data">
        <div class="memberInfo">
          <div class="memberInfo-con">
            <div class="up">


              <th:block th:if="${member.memberAttachFile==1}">
                <img th:src="@{|/upload/${member.memberNewFileName}|}" alt="이미지대체문구">
              </th:block>
              <th:block th:unless="${member.memberAttachFile==1}">
                <img th:src="@{/images/memberProfile.png}" alt="이미지대체문구">
              </th:block>
            </div>
            <div class="down">
              <ul>
                <span th:text="${member.id}" id="id" name="id" hidden="hidden"></span>
                <div class="info">
                  <label for="userEmail">이메일</label>
                  <li>
                    <span th:text="${member.userEmail}" id="userEmail" name="userEmail"></span>
                  </li>
                </div>

                <div class="info">
                  <label for="name">이름</label>
                  <li>
                    <span th:text="${member.name}" id="name" name="name"></span>
                  </li>
                </div>

                <div class="info">
                  <label for="address">주소</label>

                  <li>
                    <span th:text="${member.address}" id="address" name="address"></span>
                  </li>
                </div>

                <div class="info">
                  <label for="phoneNumber">번호</label>
                  <li>
                    <span th:text="${member.phoneNumber}" id="phoneNumber" name="phoneNumber"></span>
                  </li>
                </div>

                <div class="info">
                  <label for="createTime">가입일</label>
                  <li>
                    <span th:text="${#temporals.format(member.createTime, 'yy년MM월dd일 HH시mm분')}" id="createTime" name="createTime"></span>
                  </li>
                </div>

                  <div class="info">
                    <label for="department">부서</label>
                <li>
                  <select id="department" name="department">
                    <option th:each="de : ${depart}" th:value="${de.dptName}"
                            th:text="${de.dptName}">
                    </option>
                  </select>

                  </div>
                </li>

                  <div class="info">
                    <label for="mRank">직급</label>
                  <li>
                    <select id="mRank" name="mRank">
                      <option th:each="re : ${rank}" th:value="${re.rankName}"
                              th:text="${re.rankName}">
                      </option>
                    </select>

                  </div>
                </li>
              </ul>

            </div>
          </div>
        </div>

        <div class="gogo">
          <button onclick="memberMDFn()">저장</button>
          <button onClick="memberDeleteReady()">해고</button>
        </div>

        <div class="back">
          <a th:href="@{/member/memberList}">목록으로</a>
        </div>
        </form>
      </div>
    </div>
  </div>
</div>
</html>