<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="right" th:fragment="memberListRightFragment">
  <div class="right-con">
    <div class="right-top">
      <div class="gnb">
        <ul>
          <th:block sec:authorize="isAuthenticated()">
            <div class="myInfo"
                 th:onClick="|location.href='@{/member/myDetail/{id}(id=${#authentication.principal.memberEntity.id})}'|">
              <li>
                <a th:text="${#authentication.principal.department}"></a>
                <a th:text="${#authentication.principal.mRank}"></a>
                <a th:text="${#authentication.principal.name}"></a>
                <p>님</p>
              </li>
            </div>
            <li>

            </li>
            <li><a th:href="@{/logout}">로그아웃</a></li>
          </th:block>
          <li th:block th:if="${#authorization.expression('isAuthenticated()')}">
            <a th:href="@{/my/schedule}">Fullcalendar</a>
          </li>
          <li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <div class="index-data">
      <h1>회원목록</h1>
        <div class="list">
          <div class="list-con">
            <form th:action="@{/member/memberList}" method="get">
              <button name="department" onClick="memberListAllFn()">전체</button>
              <button name="department" id="a" onClick="memberListFn()" value="노원점">노원점</button>
              <button name="department" id="b" onClick="memberListFn()" value="야외관">야외관</button>
              <button name="department" id="c" onClick="memberListFn()" value="자동차관">자동차관</button>
              <button name="department" id="d" onClick="memberListFn()" value="커플관">커플관</button>
            </form>
            <table>
              <thead>
              <tr>
                <th></th>
                <th>이메일</th>
                <th>이름</th>
                <th>부서</th>
                <th>직급</th>
                <th>주소</th>
                <th>번호</th>
              </tr>
              </thead>
              <tbody>
              <tr th:each="member: ${memberDto}" th:onClick="|location.href='@{/member/memberInfo/{id}(id=${member.id})}'|">
                <input type="hidden" th:value="${member.id}" id="id" name="id">
                <td>
                  <th:block th:if="${member.memberAttachFile==1}">
                    <img th:src="@{|/upload/${member.memberNewFileName}|}" alt="이미지대체문구">
                  </th:block>
                  <th:block th:unless="${member.memberAttachFile==1}">
                    <img th:src="@{/images/memberProfile.png}" alt="이미지대체문구">
                  </th:block>
                </td>
                <td th:text="${member.userEmail}"></td>
                <td th:text="${member.name}"></td>
                <td th:text="${member.department}"></td>
                <td th:text="${member.mRank}"></td>
                <td th:text="${member.address}"></td>
                <td th:text="${member.phoneNumber}"></td>
              </tr>
              </tbody>
            </table>
          </div>
        </div>
      <div class="bottom1">
        <div class="memberDto">
          <div class="memberDto-con">
            <div class="paging">
              <ul>
                <li>
<!--                  <span th:if="${memberDto.pageable.pageNumber+1 eq 1}" class="span0">START</span>-->
<!--                  <span th:unless="${memberDto.pageable.pageNumber+1 eq 1}">-->
<!--                      <a th:href="@{/member/memberList(page=0)}" class="span1">처음</a>-->
<!--                </span>-->
                </li>
                <li>
                  <!-- 이전페이지가 첫번째 페이지면 span표시 -->
<!--                  <span th:if="${1==memberDto.pageable.pageNumber+1}" class="span0">PRE</span>-->
<!--                  <span th:unless="${1==memberDto.pageable.pageNumber+1}">-->
                  <a th:href="@{/member/memberList(page=${memberDto.pageable.pageNumber-1})}" class="span1">&#10094; 이전</a>
<!--                </span>-->
                </li>
                <!--block -->
                <!-- 페이지번호 -->
                <li th:each="i: ${#numbers.sequence(startPage, endPage)}" class="block">
                  <span th:if="${i==memberDto.pageable.pageNumber+1}" th:text="${i}" class="now"></span>
                  <a th:unless="${i== memberDto.pageable.pageNumber+1}"
                     th:href="@{/member/memberList(page=${i - 1})}" th:text="${i}"></a>
                </li>
                <li>
                  <!-- 현재페이지가 마지막 페이지면 span 표시 -->
<!--                  <span th:if="${memberDto.totalPages ==memberDto.pageable.pageNumber+1}"-->
<!--                        class="span0">NEXT</span>-->
                  <!-- 현재페이지가 마지막 페이지가아니면 a표시 현재페이지 +1 -->
<!--                  <span th:unless="${memberDto.totalPages ==memberDto.pageable.pageNumber+1}">-->
                    <a th:href="@{/member/memberList(page=${memberDto.pageable.pageNumber+1})}" class="span1">다음 &#10095;</a>
<!--                </span>-->
                </li>
                <li>
                  <!-- 현재페이지가 마지막 페이지면 span 표시 -->
<!--                  <span th:if="${memberDto.totalPages ==memberDto.pageable.pageNumber+1}"-->
<!--                        class="span0">END</span>-->
                  <!-- 현재페이지가 마지막 페이지가아니면 마지막페이지로 이동해라  a -->
<!--                  <span th:unless="${memberDto.totalPages ==memberDto.pageable.pageNumber+1}">-->
<!--                  <a th:href="@{/member/memberList(page=${memberDto.totalPages-1})}" class="span1">마지막</a>-->
<!--                </span>-->
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>


      </div>
    </div>
  </div>
</div>
</html>
