<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="left" th:fragment="indexLeftFragment">
  <div class="left-con">
    <div class="top">
      <div class="title">
        <h1 class="logo">
          <a th:href="@{#}"><img th:src="@{/images/logo.png}" alt=""> </a>
        </h1>
        <div class="profile">ADMIN</div>
     </div>
     <div class="left-menu">
      <ul>
        <li><a href="#">MENU</a></li>
        <li><a href="#">MENU</a></li>
        <li><a href="#">MENU</a></li>
        <li><a href="#">MENU</a></li>
        <li><a href="#">MENU</a></li>
      </ul>
     </div>
    </div>
    <div class="bottom">
      주소,저작권
    </div>
  </div>
</div>
</html>