<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="right" th:fragment="indexRightFragment">
  <div class="right-con">
    <div class="top">
      <div class="gnb">
        <ul>
          <li><a th:href="@{#}">HOME</a></li>
          <li><a th:href="@{#}">SHOPPING</a></li>
          <li><a th:href="@{#}">BOAD</a></li>
          <li><a th:href="@{#}">INFOMATION</a></li>
        </ul>
      </div>
    </div>
    <div class="bottom">
      <div class="admin-data">
        data
      </div>
    </div>
  </div>
</div>
</html>