<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">


<div class="right" th:fragment="indexRightFragment">
    <div class="right-con">
        <div class="right-top">
            <div class="gnb">
                <ul>
                    <th:block sec:authorize="isAuthenticated()">
                        <div class="myInfo"
                             th:onClick="|location.href='@{/member/myDetail/{id}(id=${#authentication.principal.memberEntity.id})}'|">
                            <li>
                                <a th:text="${#authentication.principal.department}"></a>
                                <a th:text="${#authentication.principal.mRank}"></a>
                                <a th:text="${#authentication.principal.name}"></a>
                                <p>님</p>
                            </li>
                        </div>
                        <li><a th:href="@{/logout}">로그아웃</a></li>
                    </th:block>
                    <li th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <!--사용자가 인증 되어 있으면 보이는 메뉴 -->
                        <a th:href="@{/my/schedule}">개인일정</a>
                    </li>
                    <li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="index-data">
                <div class="app">결제문서</div>
                <div class="cal">일정
                <ul>
                    <li>개인 일정:
                        <div id="personalCalendar">
                            <!-- 여기에 개인 일정을 표시할 코드를 추가합니다 -->
                            <ul>
                                <!-- personalEvents에 있는 각 일정을 순회하며 표시합니다 -->
                                <th:block th:each="event : ${personalEvents}">
                                    <li th:text="${event.content} + ' - ' + ${event.start} + ' 부터 ' + ${event.end}"></li>
                                </th:block>
                            </ul>
                        </div>
                    </li>
                    <li>전체 일정:
                        <div id="allCalendar">
                            <!-- 여기에 전체 일정을 표시할 코드를 추가합니다 -->
                            <ul>
                                <!-- allEvents에 있는 각 일정을 순회하며 표시합니다 -->
                                <th:block th:each="event : ${allEvents}">
                                    <li th:text="${event.content} + ' - ' + ${event.start} + ' 부터 ' + ${event.end}"></li>
                                </th:block>
                            </ul>
                        </div>
                    </li>
                </ul>
            </div>
                <div class="dpt">조직도
                    <ul>
                        <th:block th:each="department : ${departments}">
                            <li>
                                <span th:text="${department.dptName}"></span>
                                <ul>
                                  <th:block th:if="${members!=null}">
                                      <th:block th:each="member : ${members.get(department.dptName)}">
                                          <li><span th:text="${member.name}"></span></li>
                                      </th:block>
                                  </th:block>
                                </ul>
                            </li>
                        </th:block>
                    </ul>
                </div>

                <div class="att">출퇴근
                    <div class="attendanceWrite-form">
                        <ul>
                            <li>
                                <input type="hidden" name="id" id="id" th:value="${id}" readonly>
                            </li>
                            <li>
                                <input type="hidden" name="name" id="name" th:value="${name}" readonly>
                            </li>
                            <li>
                                <input type="hidden" name="memberId" id="memberId" th:value="${memberId}" readonly>
                            </li>
                            <li>
                                <div class="button-container">
                                    <input type="button" name="checkInTimeBtn" id="checkInTimeBtn" value="출근하기">
                                    <input type="button" name="checkOutTimeBtn" id="checkOutTimeBtn" value="퇴근하기">
                                </div>
                                <div id="attendanceInfo">
                                    <!-- 추가된 정보 표시 영역 -->
                                </div>
                            </li>

                        <!--    <li>
                                <label for="totalPay">산정 기간 내 총 급여</label>
                                <input type="text" name="totalPay" id="totalPay" th:value="${pay.totalPay}+' 원'"

                                       style="background-color: #f1f1f100;
                                       text-align: center;
                                       color: #dedfbc;
                                       font-weight:bold; "
                                       readonly>

                            </li>-->
                        </ul>
                    </div>
                </div>


                <div class="date-time">
                    시간

                    <div class="clock-wrapper">


                        <img th:src="@{/images/ROLEX.png}" alt="ROLEX" class="ROLEX">
                    </div>


                    <div class="currentDate" id="currentDate"></div>
                    <div class="currentTime" id="currentTime"></div>


                </div>



          <div class="board">게시판
              <div  class="freeHit" th:each="freeHit :${freeHit}">
                  <ul>
                      <li><a th:href="@{/board/freeDetail/{id}(id=${freeHit.id})}"><span th:text="${freeHit.freeTitle}"></span></a></li>
                      <li class="heart">┴<span class="hit" th:text="${freeHit.freeHit}"></span></li>
                  </ul>
              </div>
          </div>

      </div>
    </div>
  </div>
</div>
</html>