<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="right" th:fragment="map4Fragment">
    <div class="right-con">
        <div class="right-top">
            <div class="gnb">
                <ul>
                    <th:block sec:authorize="isAnonymous()">
                        <li><a th:href="@{/member/login}">로그인</a></li>
                        <li><a th:href="@{/member/join}">회원가입</a></li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <div class="myInfo"
                             th:onClick="|location.href='@{/member/myDetail/{id}(id=${#authentication.principal.memberEntity.id})}'|">
                            <li>
                                <p th:text="${#authentication.principal.department}"></p>부
                            </li>
                            <li>
                                <p th:text="${#authentication.principal.mRank}"></p>
                            </li>
                            <li>
                                <p th:text="${#authentication.principal.name}"></p>님
                            </li>
                        </div>
                        <li><a th:href="@{/logout}">로그아웃</a></li>
                    </th:block>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="hh">
                <h1><a th:href="@{/map}">본점</a></h1>
                <h1><a th:href="@{/map1}">노원점</a></h1>
                <h1><a th:href="@{/map2}">자동차관</a></h1>
                <h1><a th:href="@{/map3}">야외관</a></h1>
                <h1><a th:href="@{/map4}">커플관</a></h1>
            </div>
            <div class="index-data">
                <h1>커플관오시는길</h1>
                <div id="map4" style="width:100%;height:350px;"></div>
                <script>
                    var mapContainer = document.getElementById('map4'), // 지도를 표시할 div
                        mapOption = {
                            center: new kakao.maps.LatLng(37.557704,126.92581), // 지도의 중심좌표
                            level: 3 // 지도의 확대 레벨
                        };

                    var map4 = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

                    // 마커가 표시될 위치입니다
                    var markerPosition  = new kakao.maps.LatLng (37.557704,126.92581);

                    // 마커를 생성합니다
                    var marker = new kakao.maps.Marker({
                        position: markerPosition
                    });

                    // 마커가 지도 위에 표시되도록 설정합니다
                    marker.setMap(map4);

                    // 아래 코드는 지도 위의 마커를 제거하는 코드입니다
                    // marker.setMap(null);
                </script>
                <div class="ct">

                <table>
                    <thead>

                    </thead>
                    <tbody>
                    <tr>
                        <th>주소</th>
                        <td>
                            <p class="txt1">- 대한민국 서울특별시 마포구 동교동 양화로 186 홍대 LC Tower 7층에 위치</p>
                            <p class="txt">- 186, Yanghwa-ro, Mapo-gu, Seoul, Republic of Korea</p>
                        </td>
                    </tr>
                    <tr>
                        <th>지하철</th>
                        <td> 2호선, 경의중앙선, 공항철도 홍대입구역 4번출구 도보 약 2분거리(385m)</td>
                    </tr>
                    <tr>
                        <th>버스</th>
                        <td class="td3">
                            <p class="txt1">- [홍대입구(중)] 간선버스(파랑버스): 271, 273, 602, 603, 604, 761</p>
                            <p class="txt1">- [홍대입구(중)] 간선버스(파랑버스): 271, 273, 602, 603, 604, 761</p>
                            <p class="txt1">- 지선버스(초록버스): 5712, 5714, 6712, 6716, 7016, 7612, 7734, 7737, 7739</p>
                            <p class="txt1">- 일반버스: 730</p>
                            <p class="txt">- 광역버스: 1000, 1100, 1101, 1200, 1300, 1301, 1302, M6117, M6724, M7731 </p>
                        </td>
                    </tr>
                    </tbody>
                </table>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</html>