<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
<div class="part" th:if="${msg.answer.phone != null}" th:fragment="deptFragment">
  <div class="part" th:if="${msg.answer.phone != null}">
    <p>
      <span th:text="${msg.answer.phone.memberName}"></span>&nbsp;:&nbsp;
      <span th:text="${msg.answer.phone.deptName}"></span>&nbsp;:
      <span th:text="${msg.answer.phone.email}"></span>
    </p>
  </div>
  <div class="part" th:if="${msg.answer.phone == null}">
    <p>
      존재하지 않는 사원입니다.
    </p>
  </div>
</div>
</html>