@import url(/css/common/reset.css);
@import url(/css/common/left.css);

.right-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f1f1f100;
    margin-top: 50px; /* 위에서 50px 떨어뜨림 */
}

.admin-data {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}

table {
    width: 100%;
    border-collapse: collapse;
    background-color: #ffffff00;
}

table th, table td {
    padding: 12px 15px;
    border: 1px solid #f1f1f100;
    text-align: center;
}

table thead tr {
    background-color: #3e688894;
    color: #000;
}

table tbody tr:nth-of-type(even) {
    background-color: #f1f1f100;
}

table tbody tr:hover {
    background-color: #f1f1f100;
}

table tbody tr:last-of-type {
    border-bottom: 2px solid #f1f1f100;
}

.submit-cell {
    text-align: center;
    border: none;
}

input[type="submit"] {
    background-color: #dedfbc;
    color: #000;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

input[type="submit"]:hover {
    background-color: #007b5e;
}

.right-top .gnb ul li a {
    text-decoration: none;
    color: #000;
    transition: color 0.3s;
}

.right-top .gnb ul li a:hover {
    color: #555;
    text-decoration: underline;
}

.right-container{
width: auto;
background-color: #f1f1f100;
}

.right-container td{
border-bottom: 1px solid #000;
}