@import url(/css/common/reset.css);
@import url(/css/common/left.css);

.right-con a {
            color: #000; /* 링크 글씨 색을 검은색으로 설정 */
            text-decoration: none; /* 밑줄 제거 */
        }

        .right-con a:hover {
            text-decoration: underline; /* 마우스 오버 시 밑줄 표시 */
        }

.container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
}

.bottom {
    background-color: #f1f1f199;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-data {
    background-color: #fff;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.admin-data table {
    width: 100%;
    border-collapse: collapse;
    font-family: Arial, sans-serif;
}

.admin-data table thead {
    background-color: #f1f1f199;
}

.admin-data table thead th {
    padding: 10px;
    text-align: left;
    font-weight: bold;
    color: #333;
}

.admin-data table tbody tr {
    border-bottom: 1px solid #f1f1f199;
}

.admin-data table tbody tr:nth-child(even) {
    background-color: #f9f9f9;
}

.admin-data table tbody td {
    padding: 10px;
    color: #666;
}

.admin-data table tbody td a {
    color: #3498db;
    text-decoration: none;
}

.admin-data table tbody td a:hover {
    text-decoration: underline;
}

.admin-data table tbody tr:hover {
    background-color: #f1f1f199;
}