<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="right" th:fragment="apvDetailRightFragment">
    <div class="right-con">
        <div class="right-top">
            <div class="gnb">
                <ul>
                    <th:block sec:authorize="isAnonymous()">
                        <li><a th:href="@{/member/login}">로그인</a></li>
                        <li><a th:href="@{/member/join}">회원가입</a></li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        <div class="myInfo" th:onClick="|location.href='@{/member/myDetail/{id}(id=${#authentication.principal.memberEntity.id})}'|">
                            <li>
                                <p th:text="${#authentication.principal.department}"></p>부
                            </li>
                            <li>
                                <p th:text="${#authentication.principal.mRank}"></p>
                            </li>
                            <li>
                                <p th:text="${#authentication.principal.name}"></p>님
                            </li>
                        </div>
                        <li><a th:href="@{/logout}">로그아웃</a></li>
                    </th:block>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="apv-data">
                <div class="container">
                    <div class="write">
                        <div class="write-con">
                            <form th:action="@{/apv/apvOk}" method="POST" enctype="multipart/form-data">
                                <h1>보고서 상세보기</h1>
                                <table>
                                    <thead>
                                    <input type="hidden" name="id" id="id" th:value="${approvalDto.id}">
                                    <input type="hidden" name="memberId" id="memberId"
                                           th:value="${approvalDto.memberEntity.id}">
                                    <tr><!--결재자 정보-->
                                        <th class="tg-0pky" rowspan="2">결재자</th>
                                        <th class="tg-0pky" rowspan="2">이름</th><!--결재자 부서-->
                                        <th class="tg-0pky"><input type="text" id="apvFnl" name="apvFnl"
                                                                   th:value="${approvalDto.apvFnl}" readonly></th>
                                        <th class="tg-0pky" rowspan="2">문서종류</th>
                                        <th class="tg-0pky" rowspan="2">
                                            <input type="text" name="approvalDivEntity1"
                                                   th:value="${approvalDto.approvalDivEntity.apvDivName}"
                                                   readonly>
                                            <input type="hidden" id="approvalDivEntity" name="approvalDivEntity"
                                                   th:value="${approvalDto.approvalDivEntity.id}"></th>
                                    </tr>

                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="tg-0pky">작성자</td><!--작성자 정보-->
                                        <td class="tg-0pky"><input type="text" name="department" id="department"  th:value="${department}" readonly></td>
                                        <td class="tg-0pky"><input type="text" name="memberName" id="memberName"
                                                                          th:value="${mRank +' '+memberName}"
                                                                          readonly></td>
                                        <td class="tg-0pky">결재 기한</td>
                                        <td class="tg-0pky"><input type="text" name="date" id="date"
                                                                   th:value="${approvalDto.date}"
                                                                   readonly></td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky">제목</td>
                                        <td class="tg-0pky" colspan="4"><input type="text" name="apvTitle" id="apvTitle"
                                                                               th:value="${approvalDto.apvTitle}"
                                                                               readonly></td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky" colspan="5">내용
                                            <textarea name="apvContent" id="apvContent"
                                                      cols="50" rows="30"
                                                      readonly>[[${approvalDto.apvContent}]]</textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky">파일</td>
                                        <td class="tg-0pky" colspan="2"><input type="file" name="apvFile" id="apvFile"
                                                                               th:text="${approvalDto.apvOldFileName}"
                                                                               readonly></td>
                                        <td class="tg-0pky" colspan="2">파일 다운로드</td>
                                    </tr>

                                    <!--↓자기가 결재자 일 때-->
                                    <th:block th:if="${approvalDto.apvFnl==myUserDetails.name}">
                                        <tr>
                                            <td class="tg-0pky" colspan="5">코멘트 내용<!--코멘트 작성-->
                                                <textarea name="apvCom" id="apvCom" cols="20" rows="20"
                                                          placeholder="내용을 입력하세요">[[${approvalDto.apvCom}]]</textarea></td>
                                        </tr>
                                        <tr>
                                            <td class="tg-0pky">상태</td>
                                            <td class="tg-0pky"><select class="select_type01 w170"
                                                                        th:name="approvalStatusEntity"
                                                                        id="approvalStatusEntity">>
                                                <option th:each="apvStatus : ${approvalStatusDtoList}"
                                                        th:value="${apvStatus?.id}"
                                                        th:utext="${apvStatus?.apvStatus}"
                                                        th:selected="${apvStatus.apvStatus eq approvalDto.approvalStatusEntity.apvStatus}"></option>
                                            </select></td>
                                            <td class="tg-0pky"></td>
                                            <td class="tg-0pky"></td>
                                            <td class="tg-0pky"></td>
                                        </tr>
                                        <tr>
                                            <td class="tg-0lax"></td>
                                            <td class="tg-0lax"></td>
                                            <td class="tg-0lax"></td>
                                            <td class="tg-0lax">취소</td>
                                            <td class="tg-0lax"><input type="submit" value="상신"
                                                                       onclick="return confirm('정말 상신 하시겠습니까?')"></td>
                                        </tr>
                                    </th:block>
                                    <!--↓자기가 결재자가 아닐 때-->
                                    <th:block th:unless="${approvalDto.apvFnl==myUserDetails.name}">
                                        <tr>
                                            <td class="tg-0pky" colspan="5">코멘트 내용
                                                <textarea name="apvCom" cols="40" rows="10"
                                                          placeholder="내용이 없습니다." readonly>[[${approvalDto.apvCom}]]</textarea></td>
                                        </tr>
                                        <tr>
                                            <td class="tg-0pky">상태</td>
                                            <td class="tg-0pky"><input type="text" name="apvStatus" id="apvStatus" th:value="${approvalDto.approvalStatusEntity.apvStatus}" readonly></td>
                                            <td class="tg-0pky"></td>
                                            <td class="tg-0pky"></td>
                                            <td class="tg-0pky"></td>
                                        </tr>
                                        <tr>
                                            <td class="tg-0lax"></td>
                                            <td class="tg-0lax"></td>
                                            <td class="tg-0lax"><input type="button" value="취소"
                                                                       onclick="history.back();"/></td>
                                            <td class="tg-0lax"><a
                                                th:href="@{/apv/apvUpdate/{id}(id=${approvalDto.id})}">수정</a></td>
                                            <td class="tg-0lax"><a
                                                th:href="@{/apv/apvDelete/{id}(id=${approvalDto.id})}"
                                                onclick="return confirm('정말 삭제 하시겠습니까?')">삭제</a></td>
                                        </tr>
                                    </th:block>

<!--                                    &lt;!&ndash;↓본인 글 일 때&ndash;&gt;-->
<!--                                    <th:block th:if="${approvalDto.memberEntity.id==myUserDetails.memberEntity.id}">-->
<!--                                        <tr>-->
<!--                                            <td class="tg-0lax"></td>-->
<!--                                            <td class="tg-0lax"></td>-->
<!--                                            <td class="tg-0lax"><input type="button" value="취소"-->
<!--                                                                       onclick="history.back();"/></td>-->
<!--                                            <td class="tg-0lax"><a-->
<!--                                                th:href="@{/apv/apvUpdate/{id}(id=${approvalDto.id})}">수정</a></td>-->
<!--                                            <td class="tg-0lax"><a-->
<!--                                                th:href="@{/apv/apvDelete/{id}(id=${approvalDto.id})}">삭제</a></td>-->
<!--                                        </tr>-->
<!--                                    </th:block>-->
                                    </tbody>
                                </table>
                            </form>


                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>
<!--    <div class="block">-->
<!--        <div id="modal1" class="modal">-->

<!--            <p>승인 여부</p>-->
<!--            <textarea cols="10" rows="10"> 내용 </textarea>-->

<!--            <button onClick="testFn()">테스트</button>-->
<!--            <a href="#" rel="modal:close">닫기</a>-->

<!--        </div>-->
<!--        &lt;!&ndash;                                        </div>&ndash;&gt;-->
<!--        <p><a href="#modal1" rel="modal:open">결재 선택</a></p>-->


<!--        <input type="text" value="43524624" id="test1">-->
<!--        <input type="text" id="test2">-->


<!--    </div>-->


</html>









