<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="right" th:fragment="apvWriteRightFragment">
    <div class="right-con">
        <div class="top">
            <div class="gnb">
                <ul>
                    <th:block sec:authorize="isAnonymous()">
                        <li><a th:href="@{/member/login}">로그인</a></li>
                        <li><a th:href="@{/member/Join}">회원가입</a></li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        로그인중
                    </th:block>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="apv-data">
                <div class="container">
                    <div class="write">
                        <div class="write-con">
                            <form th:action="@{/apv/write}" method="POST" enctype="multipart/form-data">
                                <h1>보고서 작성</h1>
                                <table>
                                    <thead>
                                    <tr>
                                        <th class="tg-0pky" rowspan="2">결재자</th>
                                        <th class="tg-0lax">이름</th>
                                        <th class="tg-0lax"> <select class="select_type01 w170" th:name="apvFnl" id="apvFnl">

                                            <option th:each="member : ${memberDtoList}"
                                                    th:value="${member?.name}"
                                                    th:utext="${member?.mRank +' '+ member?.name +'-'+member?.department}">
                                            </option>
                                        </select></th>
                                        <th class="tg-0pky" rowspan="2">문서종류</th>
                                        <th class="tg-0pky" rowspan="2">
                                            <select class="select_type01 w170" th:name="approvalDivEntity" id="approvalDivEntity">
                                            <option th:each="apvDiv : ${approvalDivDtoList}"
                                                    th:value="${apvDiv?.id}"
                                                    th:utext="${apvDiv?.apvDivName}"></option>
                                        </select></th>
                                    </tr>
                                    <tr>
                                        <input type="hidden" value="1" id="approvalStatusEntity" name="approvalStatusEntity">
                                        <input type="hidden" name="memberId" id="memberId" th:value="${memberId}">
                                    </tr>
                                    </thead>
                                    <tbody>
                                    <tr>
                                        <td class="tg-0pky">작성자</td>
                                        <td class="tg-0pky"> <input type="text" name="department" id="department" th:value="${department}" readonly></td>
                                        <td class="tg-0pky" colspan="1">
                                            <input type="text" name="memberName" id="memberName" th:value="${mRank +' '+memberName}" readonly></td>
                                        <td class="tg-0pky">결재 기한</td>
                                        <td class="tg-0pky"><input type="date" name="date" id="date" max="2099-12-31" min="2020-01-01" value="2024-05-31"></td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky">제목</td>
                                        <td class="tg-0pky" colspan="4"><input type="text" name="apvTitle" id="apvTitle" placeholder="제목을 입력하세요."></td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0lax" colspan="5" rowspan="2">내용
                                            <textarea name="apvContent" id="apvContent" cols="50" rows="30"
                                                      placeholder="내용을 입력하세요"></textarea>
                                        </td>
                                    </tr>
                                    <tr>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky">파일</td>
                                        <td class="tg-0pky" colspan="4">
                                            <input type="file" name="apvFile" id="apvFile">
                                        </td>
                                    </tr>
                                    <tr>
                                        <td class="tg-0pky" colspan="3"></td>
                                        <td class="tg-0pky"><input type="button" value="취소" onclick="history.back();"/></td>
                                        <td class="tg-0pky"><input type="submit" value="작성"></td>
                                    </tr>
                                    </tbody>
                                </table>
                            </form>

                        </div>
                    </div>
                </div>
            </div>


        </div>
    </div>
</div>
</html>