<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="right" th:fragment="fulcalendarRightFragment">
  <div class="right-con">
    <div class="right-top">
      <div class="gnb">
        <ul>
          <th:block sec:authorize="isAnonymous()">
            <li><a th:href="@{/member/login}">로그인</a></li>
            <li><a th:href="@{/member/join}">회원가입</a></li>
          </th:block>
          <th:block sec:authorize="isAuthenticated()">
            <div class="myInfo"
                 th:onClick="|location.href='@{/member/myDetail/{id}(id=${#authentication.principal.memberEntity.id})}'|">
              <li>
                <p th:text="${#authentication.principal.department}"></p>부
              </li>
              <li>
                <p th:text="${#authentication.principal.mRank}"></p>
              </li>
              <li>
                <p th:text="${#authentication.principal.name}"></p>님
              </li>
            </div>
            <li><a th:href="@{/logout}">로그아웃</a></li>
          </th:block>
        </ul>
      </div>
    </div>

    <div class="bottom">
      <div class="index-data">

        </head>