<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
  <meta charset="UTF-8">
  <title>index</title>
  <link rel="stylesheet" th:href="@{/css/member/join.css}">
</head>
<h1>회원가입</h1>
<div class="join-form">


  <form th:action="@{/member/join}" method="POST" enctype="multipart/form-data">
    <ul>
      <li>
        이메일
        <input type="text" id="userEmail" name="userEmail" maxlength="20">
      </li>
      <li>
        비밀번호
        <input type="text" id="userPw" name="userPw">
      </li>
      <li>
        이름
        <input type="text" id="name" name="name">
      </li>

      <li>
        직급
        <input type="text" id="mRank" name="mRank">
      </li>
      <li>
        주소
        <input type="text" id="address" name="address">
      </li>
      <li>
        번호
        <input type="text" id="phoneNumber" name="phoneNumber">
      </li>



      <!--<div class="radios">
        <h2>부서</h2>
        <input type="radio" id="a1" name="department" value="일반관">
        <label for="a1">일반관</label>

        <input type="radio" id="a2" name="department" value="야외관">
        <label for="a2">야외관</label>

        <input type="radio" id="a3" name="department" value="자동차극장">
        <label for="a3">자동차극장</label>

        <input type="radio" id="a4" name="department" value="해외지점">
        <label for="a4">해외지점</label>
      </div>-->

      <!-- 내가쓴 코드-->
        <li>
          <label for="department">부서:</label>
          <select name="department" id="department">
            <option value="">부서를 선택하세요</option>
            <option value="일반관">일반관</option>
            <option value="야외관">야외관</option>
            <option value="자동차극장">자동차극장</option>
            <option value="해외지점">해외지점</option>
          </select>
        </li>



      <li>
        <input type="file" id="memberFile" name="memberFile">
      </li>

      <input type="submit" value="회원가입완료">
    </ul>
  </form>
</div>


<body>
</body>
</html>
