<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/thymeleaf-extras-springsecurity5"
>
<head>
  <meta charset="UTF-8">
  <title>index</title>
</head>
<h1>로그인</h1>
<a th:href="@{/member/join}">회원가입</a>

<form th:action="@{/member/login}" method="POST">
  <ul>
  <li>
    <label for="userEmail">이메일</label>
  <input type="text" id="userEmail" name="userEmail">
  </li>
  <li>
    <label for="userPw">비밀번호</label>
  <input type="text" id="userPw" name="userPw">
  </li>
    <li>
  <input type="submit" value="로그인">
    </li>
  </ul>

</form>

<body>
</body>
</html>
