<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/layout/member/memberList_Layout}"><!-- 기본레이아웃  -->
<!-- head layout 설정된  fragment -->
<th:block layout:fragment="title">
  <title>memberList</title>
</th:block>
<th:block layout:fragment="css">
  <link rel="stylesheet" th:href="@{/css/member/memberList.css}">
  <link rel="stylesheet" th:href="@{/css/member/memberListRight.css}">

</th:block>
<th:block layout:fragment="script">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
  <script th:src="@{/js/member/memberList.js}" defer></script>
</th:block>
</html>