<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<div class="flex center date" th:if="${msg.today}" th:text="${msg.today}"></div>
	<div class="msg bot flex">
		<div  class="icon">
			<img th:src="@{/images/chat-bot.png}">
		</div>
		<div class="message" >
			<div class="part" th:if="${msg.answer.keyword ne '전화' or msg.answer.keyword ne '부서' or  msg.answer.phone != null}">
				<p th:utext="${msg.answer.content}"></p>
			</div>
			<div th:if="${msg.answer.keyword eq '전화'}" >
				<div th:replace="~{chatbot/fragments/phone :: phoneFragment}"></div>
			</div>
			<div th:if="${msg.answer.keyword eq '부서'}" >
				<div th:replace="~{chatbot/fragments/dept :: deptFragment}"></div>
			</div>
			<div th:if="${msg.answer.keyword eq '이메일'}" >
				<div th:replace="~{chatbot/fragments/email :: emailFragment}"></div>
			</div>
			<div class="time" th:text="${msg.time}">메세지 작성 시간</div>
		</div>
	</div>
</html>