<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="right" th:fragment="apvUpdateRightFragment">
    <div class="right-con">
        <div class="top">
            <div class="gnb">
                <ul>
                    <th:block sec:authorize="isAnonymous()">
                        <li><a th:href="@{/member/login}">로그인</a></li>
                        <li><a th:href="@{/member/Join}">회원가입</a></li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        로그인중
                    </th:block>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="apv-data">
                <div class="container">
                    <div class="write">
                        <div class="write-con">
                            <form th:action="@{/apv/apvUpdate}" method="POST" enctype="multipart/form-data">
                                <h1>보고서 수정하기</h1>
                                <ul>
                                    <li>
                                        <input type="text" name="id" id="id" th:value="${approvalDto.id}">
                                    </li>

                                    <li>
                                        <label for="apvFnl">결재자
                                            <select class="apvFnl" th:name="apvFnl" id="apvFnl">
                                                <option value="선택"> 선택</option><!--해당 부서 사람만 선택-->
                                                <option th:each="member : ${memberDtoList}"
                                                        th:value="${member?.name}"
                                                        th:utext="${member?.name}"
                                                        th:selected="${member.name eq approvalDto.apvFnl}"></option>
                                            </select>
                                        </label>
                                    </li>

                                    <li>
                                        <label for="approvalDivEntity">보고서 종류</label>
                                        <select class="select_type01 w170" th:name="approvalDivEntity"
                                                id="approvalDivEntity">
                                            <option th:each="apvDiv : ${approvalDivDtoList}"
                                                    th:value="${apvDiv?.id}"
                                                    th:utext="${apvDiv?.apvDivName}"
                                                    th:selected="${apvDiv.apvDivName eq approvalDto.approvalDivEntity.apvDivName}"></option>
                                        </select>
                                    </li>

                                    <li>
                                        <label for="memberName">보고서 작성자
                                            <input type="text" name="memberName" id="memberName"
                                                   th:value="${approvalDto.memberEntity.name}" readonly>
                                        </label>
                                    </li>

                                    <li>
                                        <input type="hidden" name="memberId" id="memberId" th:value="${memberId}">
                                    </li>

                                    <li>
                                        <input type="hidden" value="1" id="approvalStatusEntity"
                                               name="approvalStatusEntity">
                                    <li>

                                    <li>
                                        <label for="apvTitle">기안서 제목</label>
                                        <input type="text" name="apvTitle" id="apvTitle"
                                               th:value="${approvalDto.apvTitle}"
                                        >
                                    </li>

                                    <li>
                                        <label for="apvContent">기안서 내용</label>
                                        <textarea name="apvContent" id="apvContent"
                                                  cols="50" rows="30">[[${approvalDto.apvContent}]]</textarea>
                                    </li>


                                    <li>
                                        <label for="apvFile">
                                            <th:block th:if="${approvalDto.apvAttachFile==1}">
                                                <label for="apvFile">파일</label>
                                                <input type="file" name="apvFile" id="apvFile"
                                                       th:value="${approvalDto.apvOldFileName}" readonly>
                                            </th:block>
                                            <th:block th:unless="${approvalDto.apvAttachFile==1}">
                                                <label for="apvFile">파일</label>
                                                <input type="file" name="apvFile" id="apvFile2"
                                                       th:value="${approvalDto.apvOldFileName}" readonly>
                                            </th:block>
                                        </label>
                                    </li>

                                    <li>
                                        <label for="createTime">작성 시간</label>
                                        <input type="text"
                                               th:value="${#temporals.format(approvalDto.createTime, 'yyyy-MM-dd HH:mm')}"
                                               id="createTime" readonly>
                                    </li>

                                    <li>
                                        <input type="button" value="취소" onclick="history.back();"/>
                                        <input type="submit" value="수정">
                                    </li>


                                </ul>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>


    </div>
</div>

</html>









