@import url(/css/common/reset.css);
@import url(/css/common/header.css);
@import url(/css/common/footer.css);
/*index*/
.container{
  width: 100%;
}
.container .index{
  width: 100%;
}
.container .index .index-con{
  width: 100%;
  height: calc( 100vh - 100px - 150px);
  display: flex;
  justify-content: center;
  align-items: center;
}