@import url(/css/common/reset.css);
@import url(/css/common/left.css);
/*index*/
.container{
  width:100%;
}
.index{
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: space-between;
}


.index .right .right-con .bottom{
  padding: 10px ;
  box-sizing: border-box;
}
.index .right .right-con .bottom .index-data{
    box-sizing: border-box;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 90%;
    padding-top: 50px;
    padding-left: 50px;
    padding-bottom: 30px;
    gap: 30px;
    color:white;
}
.app{
border: 3px solid #022f5d;
border-radius: 30px;
padding: 15px 20px 20px;
width:400px;
height:300px;
}
.movie{
border: 3px solid #022f5d;
border-radius: 30px;
padding: 15px 20px 20px;
width:400px;
height:300px;
}
.dpt{
border: 3px solid #022f5d;
border-radius: 30px;
padding: 15px 20px 20px;
width:400px;
height:300px;
}
.att{
border: 3px solid #022f5d;
border-radius: 30px;
padding: 15px 20px 20px;
margin-top: 20px;
width:400px;
height:300px;
}
.time{
border: 3px solid #022f5d;
border-radius: 30px;
padding: 15px 20px 20px;
margin-top: 20px;
width:400px;
height:300px;
}
.board{
border: 3px solid #022f5d;
border-radius: 30px;
padding: 15px 20px 20px;
margin-top: 20px;
width:400px;
height:300px;
}
.notice{
border: 3px solid #022f5d;
border-radius: 30px;
padding: 15px 20px 20px;
margin-top: 20px;
width:400px;
height:300px;
}
.emp{
border: 3px solid #022f5d;
border-radius: 30px;
padding: 15px 20px 20px;
margin-top: 20px;
width:400px;
height:300px;
}

.cal{
border: 3px solid #022f5d;
border-radius: 30px;
padding: 15px 20px 20px;
margin-top: 20px;
width:400px;
height:300px;
}








