@import url(/css/common/reset.css);
@import url(/css/common/left.css);

.right-bottom {
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    box-sizing: border-box;
    background-color: #f1f1f100;
    margin-top: 100px; /* 위에서 50px 떨어뜨림 */
}

.admin-data {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
    width: 100%;
    max-width: 800px;
}


.naver-group{

}
.parent-node,
.group{
	position: relative;
	margin-left: 12px;
}
.tree-node{
	padding-left: 12px;
	position: relative;
}
.node a{
	display: block;
	height: 54px;
	line-height: 54px;
	padding-left: 34px;
	background-image: url("/images/icon/ico-file-fold.svg");
	background-position: left center;
	background-repeat: no-repeat;
}
.tree-node a:before{
	content: '';
    position: absolute;
    left: 0;
    top: 1.7em;
    bottom: 1px;
    z-index: 2;
    width: 12px;
    height: 0;
    margin-top: -1px;
    border-top: 1px solid #222;
}
.group:before{
    content: '';
    position: absolute;
    left: 0;
    top: -28px;
    height: 100%;
    bottom: 1px;
    z-index: -1;
    width: 0;
    border-left: 1px solid #222;
}
