<!DOCTYPE html>
<html xmlns:th="https://www.thymeleaf.org">
	<div class="flex center date" th:if="${msg.today}" th:text="${msg.today}"></div>
	<div class="msg bot flex">
		<div  class="icon">
			<img th:src="@{/images/icon/chat.svg}">
		</div>
		<div class="message" >
			<div class="part" th:if="${msg.answer.keyword ne '전화' or msg.answer.keyword ne '날씨' or msg.answer.keyword ne '부서' or  msg.answer.phone != null}">
				<p th:utext="${msg.answer.content}"></p>
			</div>

			<div th:if="${msg.answer.keyword eq '날씨'}" >
				<div th:replace="~{weather/weatherchatbot/fragments/temp :: tempFragment}"></div>
			</div>

			<div class="time" th:text="${msg.time}">메세지 작성 시간</div>
		</div>
	</div>
</html>