<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
  <meta charset="UTF-8">
  <title>BUS API</title>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.4/jquery.min.js"></script>
  <script type="text/javascript"
          src="//dapi.kakao.com/v2/maps/sdk.js?appkey=22926ba8f1c4fdf458cefa9d86fc8710&libraries=services,clusterer,drawing">
  </script>
  <script th:src="@{/js/busapi/busApi.js}" defer></script>
  <script th:src="@{/js/busapi/busApiPark.js}" defer></script>
  <link rel="stylesheet" th:href="@{/css/busapi/bus.css}">
</head>

<body>
<div id="wrap">
  <div class="right-con">

    <div class="bus">
      <div class="bus-box">
        <div class="bus-header">
          <h1 class="bus-title">버스 노선 조회</h1>
          <div class="search">
            <input type="text" name="search" id="search" value="146">
            <button id="busBtn" onclick="busSearch()">버스 노선 조회</button>
            <div class="toggle-btns">
              <button type="button" id="btn-roadview" onclick="toggleView('roadview')">로드뷰 보기</button>
              <button type="button" id="btn-bus-route" onclick="toggleView('bus-route')">버스 노선 보기</button>
            </div>
          </div>
        </div>
        <div class="bus-table">
          <table class="bus-table1" border="1">
            <thead>
            <tr>
              <!--<th>노선ID</th>-->
              <th>노선명</th>
              <th>노선유형</th>
              <th>기점</th>
              <th>종점</th>
              <th>금일첫차시간</th>
              <th>금일막차시간</th>
              <th>배차간격</th>
              <th>버스위치정보(클릭시 위치정보나옴)</th>
              <th>버스타입</th>
            </tr>
            </thead>
            <tbody id="bus1">
            </tbody>
          </table>
        </div>

      <div class="bus-map">
        <div class="left-bus">
          <h1>버스 정거장역</h1>
          <div class="bus-station">
          </div>

        <div class="right-map">
          <section id="mymap" style="width: 100%;">
            <div class="wrap" id="map" style="width:100%;height:400px;"></div>
            <div id="rvWrapper" style="width:50%; height:400px; float:left">
              <div id="roadview" style="width:100%; height:100%"></div>
            </div>
            <div class="transfer-info">
              <h2>환승 정보</h2>
              <div class="transfer-stations">
              </div>
          </section>
        </div>
      </div>
    </div>
  </div>
</div>


    <div class="arrInfo" id="arrInfo">
      ㅎㅎㅎㅎㅎ
      <input type="text" id="search2" name="search2" value="100100025">
      <button onclick="busArrInfo()">도착정보</button>

      <div class="arr" id="arr">

      </div>
    </div>





</body>

</html>
