* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

#btnWrap {
  width: 500px;
  margin: 100px auto;
}
#popupBtn {
  width: 150px;
  height: 50px;
  padding: 10px 5px;
  background-color: #007bff;
  color: #fff; /* 텍스트 색상을 지정하세요 */
  border: none; /* 테두리 제거 */
  cursor: pointer;
}
#modalWrap {
  position: fixed; /* 화면에 고정 */
  z-index: 1; /* 상위에 위치 */
  padding-top: 100px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgba(0, 0, 0, 0.7); /* 반투명한 배경색 */
  display: none; /* 초기에는 숨김 */
}

#modalBody {
  width: 500px;
  height: 300px;
  padding: 30px 30px;
  margin: 0 auto;
  border: 1px solid #777;
  background-color: #fff;
}

#closeBtn {
  float: right;
  font-weight: bold;
  color: #777;
  font-size: 25px;
  cursor: pointer;
}