body {
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

h1 {
  text-align: center;
  color: #333;
}

.button-container {
  text-align: center;
  margin-bottom: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
}

.btn:hover {
  background-color: #45a049;
}

.department {
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
  margin: 10px;
  padding: 10px;
  margin-bottom: 20px;
  cursor: pointer; /* 수정된 부분: 커서를 포인터로 변경하여 클릭 가능한 상태로 표시 */
}

.sub-department {
  display: none; /* 수정된 부분: 초기에는 하위 부서를 숨깁니다. */
  margin-left: 20px;
  margin-bottom: 10px;
  border-left: 1px dashed #ddd;
  padding-left: 10px;
}

.department.open > .sub-department {
  display: block; /* 수정된 부분: open 클래스가 있는 경우에만 하위 부서를 보여줍니다. */
}

.add-sub-department-form {
  display: none;
  margin-top: 10px;
}

input[type="text"] {
  width: 200px;
  padding: 5px;
  margin-bottom: 10px;
}

select {
  width: 210px;
  padding: 5px;
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 5px;
}

form button[type="submit"] {
  padding: 5px 10px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #76ffbf;
}
