.arrInfo{
border:1px solid #ccc;
width:100%;
height:inherit;
display:flex;
align-items:center;
}
.arrInfo-con{
width:100%;
display:flex;
flex-direction:column;
padding:5px;
gap:20px;
}

.title{
display:flex;
flex-direction:column;
gap:10px;
align-items:center;
text-align:center;
}
.arrBus1{
display:flex;
gap:10px;
justify-content:center;
}
.arrBus2{
display:flex;
gap:10px;
justify-content:center;
}

.busName{
color:blue;
font-size:20px;
font-weight:bold;
}
.busArr{
color:#000;
font-size:16px;
font-weight:bold;
}

.dkftndjqtdma{
color:#636e65;
font-weight:bold;
}
.dudb{
color:#32a84a;
font-weight:bold;
}
.qhxhd{
color:#fff305;
font-weight:bold;
}
.ghswkq{
color:#f23d30;
font-weight:bold;
}