<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="right" th:fragment="payIndexRightFragment">
    <div class="right-con">
        <div class="right-top">
            <div class="gnb">
                <ul>
                    <th:block sec:authorize="isAnonymous()">
                        <li><a th:href="@{/member/login}">로그인</a></li>
                        <li><a th:href="@{/member/join}">회원가입</a></li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        로그인중
                    </th:block>
                    <li><a th:href="@{/member/detail/}" th:text="${ #authentication.principal.username }"></a></li>
                </ul>
            </div>
        </div>
        <div class="right-bottom">

            <div class="right-container"><h1 style="font-style: bold; color: #fff;">급여정보</h1>

<!--                    <th:block th:if="${userEmail== #authentication.principal.username}">
                        <div th:replace="~{/fragments/container/pay_container/pay_fragment/payIndexFragment1 :: payIndexFragment1}"></div>
                    </th:block>
                    <th:block th:unless="${userEmail== #authentication.principal.username}">
                        <div th:replace="~{/fragments/container/pay_container/pay_fragment/payIndexFragment2 :: payIndexFragment2}"></div>
                    </th:block>-->

                <div th:replace="~{/fragments/container/pay_container/pay_fragment/payIndexFragment1 :: payIndexFragment1}"></div>

            </div>

        </div>
    </div>
</div>
</html>