<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="right" th:fragment="payIndexRightFragment">
    <div class="right-con">
        <div class="right-top">
            <div class="gnb">
                <ul>
                    <th:block sec:authorize="isAuthenticated()">
                        <div class="myInfo"
                             th:onClick="|location.href='@{/member/myDetail/{id}(id=${#authentication.principal.memberEntity.id})}'|">
                            <li>
                                <a th:text="${#authentication.principal.department}"></a>
                                <a th:text="${#authentication.principal.mRank}"></a>
                                <a th:text="${#authentication.principal.name}"></a>
                                <p>님</p>
                            </li>
                        </div>
                        <li>

                        </li>
                        <li><a th:href="@{/logout}">로그아웃</a></li>
                    </th:block>
                    <li th:block th:if="${#authorization.expression('isAuthenticated()')}">
                        <a th:href="@{/my/schedule}">Fullcalendar</a>
                    </li>
                    <li>
                </ul>
            </div>
        </div>
        <div class="right-bottom">

            <div class="right-container"><h1 style="font-style: bold; color: #fff;">급여정보</h1>

                <table>


                    <thead>
                    <tr>
                        <th>급여ID</th>
                        <th>사번</th>
                        <th>이름</th>
                        <th>지점</th>
                        <th>직급</th>

                        <th:block sec:authorize="hasRole('ADMIN')">

                            <th>시급</th>
                            <th>작성</th>

                        </th:block>

                        <th>보기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="payment : ${paymentList}">
                        <td th:text="${payment.id}"></td>
                        <td th:text="${payment.memberEntity.id}"></td>
                        <td th:text="${payment.memberEntity.name}"></td>
                        <td th:text="${payment.memberEntity.department}"></td>
                        <td th:text="${payment.memberEntity.mRank}"></td>

                        <th:block sec:authorize="hasRole('ADMIN')">

                            <td th:text="${payment.hourlyWage}"></td>
                            <td><a th:href="@{/pay/payWrite/{id}(id=${payment.memberEntity.id})}">급여작성</a></td>

                        </th:block>


                        <!-- '보기' 링크 표시 조건 -->
                        <td>
                            <th:block sec:authorize="hasRole('ADMIN')">
                                <a th:href="@{/pay/payDetail/{id}(id=${payment.id})}">보기</a>
                            </th:block>
                            <th:block sec:authorize="!hasRole('ADMIN')" th:if="${payment.memberEntity.userEmail == #authentication.principal.username}">
                                <a th:href="@{/pay/payDetail/{id}(id=${payment.id})}">보기</a>
                            </th:block>
                            <th:block sec:authorize="!hasRole('ADMIN')" th:unless="${payment.memberEntity.userEmail == #authentication.principal.username}">
                                --
                            </th:block>
                        </td>


                    </tr>
                    </tbody>
                </table>
            </div>

        </div>
    </div>
</div>
</html>