<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<div class="right" th:fragment="payIndexRightFragment">
    <div class="right-con">
        <div class="right-top">
            <div class="gnb">
                <ul>
                    <th:block sec:authorize="isAnonymous()">
                        <li><a th:href="@{/member/login}">로그인</a></li>
                        <li><a th:href="@{/member/join}">회원가입</a></li>
                    </th:block>
                    <th:block sec:authorize="isAuthenticated()">
                        로그인중
                    </th:block>
                    <li><a th:href="@{/member/detail/}" th:text="${ #authentication.principal.username }"></a></li>
                </ul>
            </div>
        </div>
        <div class="bottom">
            <div class="admin-data">
                <table>
                    <thead>
                    <tr>
                        <th>id</th>
                        <th>memberEntity.id</th>
                        <th>memberEntity.name</th>
                        <th>hourlyWage</th>
                        <th>Edit</th>
                        <th>보기</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="payment : ${paymentList}">
                        <td th:text="${payment.id}"></td>
                        <td th:text="${payment.memberEntity.id}"></td>
                        <td th:text="${payment.memberEntity.name}"></td>
                        <td th:text="${payment.hourlyWage}"></td>
                        <td><a th:href="@{/pay/payWrite/{id}(id=${payment.memberEntity.id})}">급여작성</a></td>
                        <td><a th:href="@{/pay/payDetail/{id}(id=${payment.id})}">보기</a></td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
</html>