/*@import url(/css/common/reset.css);*/

/* 전체 페이지 스타일 */
/*body {
	font-family: 'Noto Sans KR', sans-serif;
	background-color: #f8f9fa; *//* 배경색 *//*
	margin: 0;
	padding: 0;
}*/

/* 챗봇 컨테이너 스타일 */
#chat-bot {
	position: fixed;
	bottom: 30px;
	right: 50px;
	max-width: calc(100% - 40px); /* 최대 너비 설정 */
	background-color: #ffffff; /* 채팅창 배경색 */
	box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
	overflow: hidden; /* 내용 넘침 방지 */
	z-index: 1000;
}

/* 챗봇 헤더 스타일 */
#chat-header {
	background-color: #00c73c; /* 라인 초록색 */
	color: #ffffff; /* 헤더 글자색 */
	height: 60px;
	line-height: 60px;
	text-align: center;
	font-weight: bold;
	border-top-left-radius: 8px;
	border-top-right-radius: 8px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

/* 챗봇 콘텐츠 스타일 */
#chat-content {
	max-height: 600px; /* 최대 높이 설정 */
	max-width: 400px;
	overflow-y: auto;
	padding: 10px;
}

/* 채팅 메시지 스타일 */
.msg {
	margin-bottom: 15px;
	clear: both;
}

.msg .message {
	background-color: #f0f0f0; /* 채팅 메시지 배경색 */
	color: #000000; /* 메시지 글자색 */
	max-width: 70%;
	padding: 10px;
	border-radius: 5px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
	float: left;
	clear: both;
}

.msg .time {
	font-size: 12px;
	color: #999999;
	text-align: right;
	margin-top: 5px;
}

/* 사용자 메시지 스타일 */
.user .message {
	background-color: #00c73c; /* 사용자 메시지 배경색 */
	color: #ffffff; /* 사용자 메시지 글자색 */
	float: right;
}

/* 입력창 및 버튼 스타일 */
#chat-question {
	background-color: #ffffff; /* 입력창 배경색 */
	padding: 10px;
	border-top: 1px solid #e0e0e0; /* 입력창 상단 경계선 */
	display: flex;
	align-items: center;
}

#chat-question #question {
	flex: 1;
	border: none;
	background-color: #f0f0f0; /* 입력창 내 배경색 */
	border-radius: 20px;
	padding: 10px;
	font-size: 14px;
	color: #000000; /* 입력창 글자색 */
	outline: none;
}

#chat-question button {
	margin-left: 10px;
	padding: 8px 15px;
	background-color: #00c73c; /* 입력창 버튼 배경색 */
	color: #ffffff; /* 입력창 버튼 글자색 */
	border: none;
	border-radius: 20px;
	cursor: pointer;
}

#btn-chat-open img{
	width: 50px;
	height: 50px;
}
