.join-form{
display:flex;
flex-direction:column;
}
.join-form form{
}

.join-form form ul{
}
.join-form form ul>li{
}

.join-form form input{

}

.radios{
}
.radios input[type=radio]{
display:none;
}
.radios label{
border:1px solid;
gap:10px;
}
