@import url(/css/common/reset.css);
.list{
display:flex;
align-items:center;
justify-content:space-between;
width:65%;
height:80%;
}

#pageNextBtn{
border:0;
background-color:#ffffff;
font-size:50px;
color:#6e6e6e;
}
#pageBeforeBtn{
border:0;
background-color:#ffffff;
font-size:50px;
color:#6e6e6e;
}

.down{
display:flex;
gap:20px;
padding:20px;
}
