@import url(/css/common/reset.css);
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100..900&display=swap');

.index-data p{
padding:10px;
font-size:28px;
font-weight:bold;
}

.center-top{
display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 20px;
}

img{
width:260px;
height:260px;
}

.list{
display:flex;
justify-content:space-between;
width:65%;
height:80%;
}
.list-left{
display:flex;
align-items:center;
}
.list-right{
display:flex;
align-items:center;
}
.list-center{
display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: center;
    padding-top: 20px;
    gap:20px;
    border: 1px solid;
        width: 700px;
        border-radius:10%;
}
.center-bottom{
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
}
.info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap:5px;
    border: 1px solid #ccc;
    border-radius:50px;
        width: 250px;
        height:50px;
        text-align:center;
        overflow:hidden;
         text-overflow: ellipsis;
            white-space: nowrap;
            padding:5px;
}
.info label{
font-size:18px;
font-weight:bold;
color:#000;
}
.info span{
color:#fff;
font-weight:bold;
}




#pageNextBtn{
border:0;
font-size:50px;
color:#c5c1e0;
width:0;
cursor:pointer;
}
#pageBeforeBtn{
border:0;
color:#c5c1e0;
font-size:50px;
width:0;
cursor:pointer;
}

.down{
display:flex;
gap:10px;
padding:10px;
}
.down li{
display:flex;
justify-content:center;
align-items:center;
}

.down span{
color:#ffffff;
}
.down a{
color: #fff;
}

.gogo{
display:flex;
gap:100px;
}
.gogo button{
font-family: "Noto Sans KR", sans-serif;
width:200px;
height:50px;
border-radius:6px;
border:0;
background-color:#40464d;
    color: #fff;
    font-size: 20px;
    font-weight: 700;
    cursor:pointer;
}


.firstInfo{
display:flex;
gap:50px;
padding:10px;
}
.secondInfo{
display:flex;
gap:50px;
padding:10px;
}
.thirdInfo{
display:flex;
gap:50px;
padding:10px;
}

select{
width:50%;
height:30px;
padding:0 20px;
font-family: "Noto Sans KR", sans-serif;
border-radius:5px;
font-size:15px;
box-sizing:border-box;
font-weight:bold;
    background-color: #2e5b82;
    border: 1px solid #fff;
    color: #fff;
}
select option{
font-weight:bold;
}

