@import url(/css/common/reset.css);git
.container{
width:100%;
}
.list{
display:flex;
justify-content:center;
}
.list-con{
flex-basis:1000px;
}
table img{
width:50px;
height:50px;
}

table{
width:100%;
border-collapse: collapse;
table-layout:fixed;
border:1px solid #cccccc;
}
table td{
text-align:center;
}

table tbody tr{
cursor:pointer;
}
table tbody tr:hover{
background-color:#ccc;
}